/*!*body {*!*/
/*!*background: grey;*!*/
/*!*}*!*/

/*!*.editor_group .code-textarea {*!*/
/*!*resize: both !important;*!*/
/*!*}*!*/

/*!*.code-result_iframe {*!*/
/*!*width: 100%;*!*/
/*!*height: auto;*!*/
/*!*min-height: 300px;*!*/
/*!*-webkit-box-sizing: border-box;*!*/
/*!*-moz-box-sizing: border-box;*!*/
/*!*box-sizing: border-box;*!*/
/*!*}*!*/

/*!* Live Editor Styles *!*/

/** {*/
    /*box-sizing: border-box;*/
    /*-moz-box-sizing: border-box;*/
    /*outline: none;*/
/*}*/

/*html,*/
/*body,*/
/*.editor_section {*/
    /*height: 100%;*/
/*}*/

/*body {*/
    /*background: #eaeaea;*/
    /*padding: 0;*/
    /*margin: 0;*/
/*}*/

/*h1 {*/
    /*font-family: 'Source Sans Pro', sans-serif;*/
    /*text-align: center;*/
    /*color: #777;*/
    /*margin: 0;*/
    /*font-weight: 200;*/
/*}*/

.editor {
    margin-bottom: 15px;
}

.editor_section {
    width: 100%;
    min-height: 100%;
    padding: 15px;
    margin: 0;
    box-shadow: rgba(0, 0, 0, .15) 0 15px 50px;
    position: relative;
}

.editor_buttons {
    text-align: right;
}

.clearLink {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    text-shadow: 1px 1px 3px #666666;
    font-family: Courier New;
    color: #ffffff;
    font-size: 16px;
    background: #3498db;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
}

.clearLink:hover {
    background: #3cb0fd;
    text-decoration: none;
}

.editor_group .code_textarea {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    width: 32%;
    min-height: 150px;
    margin: 15px 2% 0 0;
    float: left;
    font-size: 10pt;
    line-height: 14pt;
    font-weight: 200;
    padding: 10px;
    color: #333;
    border: 1px solid #cdcdcd;
    background: #fff;
    box-shadow: inset rgba(0, 0, 0, .05) 0 3px 10px;
    border-radius: 3px;
    transition: all 0.2s ease-in-out;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    max-width: 100%;
    max-height: 100%;
}

.editor_group .code_textarea:focus {
    border-color: #33dd33;
}

.editor_group .code_textarea.js {
    margin: 15px 0 0 0;
}

/*.editor_iframe {*/
/*}*/
.code_result_iframe {
    width: 100%;
    height: 100%;
    border: 1px solid #cdcdcd;
    border-radius: 3px;
    margin: 15px 0 0 0;
}

.CodeMirror {
    width:32%;
    display:inline-block;
    float:left;
    max-width: 100%;
    max-height: 100%;
    margin: 10px 0px 10px 15px;
}

/*@media (min-width: 768px) {*/

    /*body {*/
        /*padding: 50px 50px 0 50px;*/
    /*}*/

    /*html,*/
    /*body,*/
    /*.editor_section {*/
        /*height: auto;*/
    /*}*/

/*}*/
